#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  background-color: rgb(62, 61, 61);
  color: white;
  flex-grow: 1;
}

.productos {
  background-color: rgb(195, 187, 144);
  padding: 20px;
}

.productos li {
  text-align: left;
}
